{% extends "layout.html" %}

{% block headerstuff %}

<script type=text/javascript>
	
		function pattern(type){
			var cps = document.getElementById('cps').value;
			if (cps == "")
				document.getElementById('cps').value = 1.0;
			
			$.post('/pattern', {pattern : type, cyclesPerSecond : document.getElementById('cps').value});
		};
		
		function submitColor(type){
			
			$('#result').slideToggle().delay(100).queue(function(n) {
					if(type!='clear'){
						if(type=='')
							$(this).html('You are missing one or more values. Satisfy each requirement before submitting.');
						else
							$(this).html('Displaying ' + type);
					}
					else{
						$(this).html('Cleaning LEDs');
				}
				n();
			}).slideToggle();
			$.post('/Solidfy_Process', { color: type });
		};

		function rgbToHex(r, g, b) {
		  return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
		}
		
		function submitText(){
			colors = [document.getElementById('green_value').value,document.getElementById('red_value').value,document.getElementById('blue_value').value];
			if(colors[0] == '' || colors[1] == '' || colors[2] == '')
				submitColor('');
			else
			{
				document.getElementById('color_wheel').value = rgbToHex(parseInt(colors[1]),parseInt(colors[0]),parseInt(colors[2]));
				$('#result').html('displaying ' + colors);
				$.post('/Detailed_Process', {'color[]' : [document.getElementById('green_value').value,document.getElementById('red_value').value,document.getElementById('blue_value').value] });
			}
		};
		
		$(document).ready(function(){
			
			document.getElementById('color_wheel').addEventListener('change', updateText, false);
			
			function updateText(event){
				var rgb=hexToRgb(document.getElementById('color_wheel').value)
				document.getElementById('red_value').value = rgb.r;
				document.getElementById('green_value').value = rgb.g;
				document.getElementById('blue_value').value = rgb.b;
			}
			
			
			
			function hexToRgb(hex) {
			  var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
			  return result ? {
				r: parseInt(result[1], 16),
				g: parseInt(result[2], 16),
				b: parseInt(result[3], 16)
			  } : null;
			}
			
			
	});
		
</script>

<style>
	
h1{
	font-size:50px;
}

.box{
	text-align: center;
	float: none;
	width:75%;
	max-width: 200px;
	height: 76px;
	padding:10px;
	margin-top:10px;
	margin-bottom;10px;
	font-size:30px;
	font-variant:small-caps;
	border-radius:10px
}


#submit{
	font-size:15px;
	background-color: #00cc00;
	margin-top: 10px;
	border-radius:10;
}

#result{
	text-align:center;
	font-size:20px;
	font-weight: bold;
}

.info{
	margin-top: 50px;
	text-align:center;
	font-size:18px;
}

.typer{
	font-size: 30px;
	border:none;
	background-color: #fefcfb;
}
#color_chooser{
	border-style:none;
	border-radius:20px;
	padding:20px;
	width:70%;
	max-width: 500px;
	margin-bottom:40px;
	background-color: #461d66;
}

colorwheel{
	size: 15px;
}

.dropdown{
	position:relative;
	display:inline-block;
	font-variant: small-caps;
}

.dropbutton{
	font-size:15px;
	background-color: #f1f1f1;
	border: none;
	padding: 10px;
	min-width:50px;
	margin-top: 10px;
	font-variant: small-caps;
}

.dropdown_content{
	display: none;
	position:absolute;
	color:black;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding:12px;
}

.dropdown_content a{
	display:block;
	color:black;
	text-decoration: none;
	padding: 12px 16px;
}

.dropdown_content a:hover {background-color: grey}
.dropdown:hover	.dropdown_content {display: block}
.dropdown:hover .dropbutton {background-color: grey}



</style>
{% endblock headerstuff %}

{% block content %}
		<h1 style='color:white' class='center'>RASP LED controls</h1>
		<p class=info>Start off by sending a simple instruction to the LEDs:</p>
		<div id=color_chooser class='center'>
			<button style="color:white;background-color:red;" class=box id=redbox onclick=submitColor('red')>red</button>
			<button style="color:white;background-color:limegreen;" class=box id=greenbox onclick=submitColor('green')>green</button>
			<button style="color:white;background-color:blue;" class=box id=bluebox onclick=submitColor('blue')>blue</button>
			<br>
			<div class=dropdown>
				<button class=dropbutton>more</button>
				<div class=dropdown_content>
					<span>christmas</a><input type=number id=cps placeholder='#cps'><button onclick=pattern('christmas')>send</button></span>
					<hr>
					<span>Showcase</a><button onclick=pattern('showcase')>run</span>
				</div>
			</div>
		</div>
		<hr>
		<p id=result>...</p>
		<hr>
		<p class=info>Alternatively, submit a color in the RGB formation with values ranging from 0-255. <br>e.g. (0,255,158)</p>
		<div class=center >
			
			<input type=color id=color_wheel value=#ff99ff>
			<input type=number name=red  class=typer placeholder='R' id=red_value min=0 max=255 maxlength=3>,
			<input type=number name=green  class=typer placeholder='G' id=green_value min='0' max='255'>,
			<input type=number name=blue  class=typer placeholder='B' id=blue_value min='0' max='255'>
			<br>
			<button id=submit class=box onclick=submitText()>submit</button>
		</div>
		<hr>
		<div class=center>
			<button class=box id=clear onclick=submitColor('clear') style="background-color:color:#fefcfb">clean</button>
		</div>
		<br>
		<a href='about'><button class='center'id='navigate'>About --></button></a>
	
		<br>
		<br>
		<br>
		<br>
		<br>
{% endblock content %}
